<div id="findGoods" class="m-b">
    <div class="find-inner w clearfix">
        <div class="find-col1">
            <div class="box-hd clearfix">
                <i class="arrow"></i>
                <i class="dec"></i>
                <h3 class="tit">发现好货</h3>
                <a class="submit" href="javascript:void 0;" target="_blank">发现品质生活 <i class="arrow-right"></i></a>
            </div>
            <div class="box-bd clearfix">
                <ul class="find-list clearfix">

                </ul>
            </div>
        </div>
        <div class="find-col2">
            <div class="box-hd clearfix">
                <i class="arrow"></i>
                <i class="dec"></i>
                <h3 class="tit">品牌头条</h3>
                <a class="submit" href="javascript:void 0;" target="_blank">大牌资讯全掌握 <i class="arrow-right"></i></a>
            </div>
            <div class="box-bd clearfix">
                <div class="brand-top clearfix">

                </div>
                <div class="brand-bottom">

                </div>
            </div>
        </div>
        <div class="find-col3">
            <div class="box-hd clearfix">
                <i class="arrow"></i>
                <i class="dec"></i>
                <h3 class="tit">排行榜</h3>
                <a class="submit" href="javascript:void 0;" target="_blank">网罗全民挚爱 <i class="arrow-right"></i></a>
            </div>
            <div class="box-bd clearfix">
                <div class="top-tab">
                    <div class="top-tab-head clearfix">

                    </div>
                    <div class="top-tab-content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>