<div id="seckill" class="m-b">
    <div class="sk-inner w">
        <div class="box-hd clearfix">
            <div class="box-hd-col1">
                <i class="box_hd_dec"></i>
                <i class="box_hd_icon"></i>
                <h3 class="box_tit">京东秒杀</h3>
                <a class="box_sunmit" href="javascript:;">总有你想不到的低价 <i class="submit_arrow"></i></a>
            </div>
            <div class="box-hd-col2">
                <div class="sk-cd">
                    <span class="sk-cd-tip">当前场次</span>
                    <div class="sk-cd-main">
                        <div class="cd-item cd_hour"></div>
                        <div class="cd-split">
                            <i class="dot top"></i>
                            <i class="dot bottom"></i>
                        </div>
                        <div class="cd-item cd_minute"></div>
                        <div class="cd-split">
                            <i class="dot top"></i>
                            <i class="dot bottom"></i>
                        </div>
                        <div class="cd-item cd_second"></div>
                    </div>
                    <span class="sk-cd-tip">后结束抢购</span>
                </div>
            </div>
        </div>
        <div class="box-bd clearfix">
            <div class="sk-list-wrapper">
                <ul class="J_sk_list sk-list clearfix">

                </ul>
                <div class="sk-controls">
                    <a class="sk-controls-left" href="javascript:void 0;"><i class="fa fa-arrow-left"></i></a>
                    <a class="sk-controls-right" href="javascript:void 0;"><i class="fa fa-arrow-right"></i></a>
                </div>
                <div class="split"></div>
            </div>
            <a class="sk-special" href="javascript:void 0;">
                <img src="/images/goods_items/sk_special.jpg">
            </a>
        </div>
    </div>
</div>