<!-- 1 -->
<div class="cate-part clearfix" id="cate-item-<%= 2*j + 1 %>" style="display: none">
<div class="cate-part-col1">
    <div class="cate-tit">
        <a href="javascripts:void 0;">赛事 ></a>
        <a href="javascripts:void 0;">运动城 ></a>
        <a href="javascripts:void 0;">户外馆 ></a>
        <a href="javascripts:void 0;">健身房 ></a>
        <a href="javascripts:void 0;">骑行馆 ></a>
        <a href="javascripts:void 0;">钟表行 ></a>
    </div>
    <div class="cate-detail">
        <% for (var k = 0; k < 10; k++) { %>
        <dl class="cate-detail-item">
            <dt class="cate-detail-tit">
                <a href="javascript:void 0;">运动鞋包 ></a>
            </dt>
            <dd class="cate-detail-con">
                <% for(var i = 0; i < 10; i++) { %>
                <a class="cate-detail-con-lk" href="javascript:void 0;">跑步鞋</a>
                <% } %>
            </dd>
        </dl>
        <% } %>
    </div>
</div>
<div class="cate-part-col2">
    <div class="cate-brand">
        <% for(var i = 0; i < 8; i++) { %>
        <a href="javascript:void 0;" class="cate-brand-lk"><img width="83" height="35" src="/images/slider/FitTime.png"></a>
        <% } %>
    </div>
    <div class="cate-promotion">
        <a href="javascript:void 0;" class="cate-promotion-lk"><img src="/images/slider/sport_shoes.jpg"></a>
        <a href="javascript:void 0;" class="cate-promotion-lk"><img src="/images/slider/shebag.jpg"></a>
    </div>
</div>
</div>

<!-- 2 -->
<div class="cate-part clearfix" id="cate-item-<%= 2*j + 2 %>" style="display: none">
<div class="cate-part-col1">
    <div class="cate-tit">
        <a href="javascripts:void 0;">家电馆 ></a>
        <a href="javascripts:void 0;">品牌日 ></a>
        <a href="javascripts:void 0;">智能生活馆 ></a>
        <a href="javascripts:void 0;">京东净化馆 ></a>
        <a href="javascripts:void 0;">城镇体验馆 ></a>
        <a href="javascripts:void 0;">家电重酬馆 ></a>
    </div>
    <div class="cate-detail">
        <% for (var k = 0; k < 10; k++) { %>
        <dl class="cate-detail-item">
            <dt class="cate-detail-tit">
                <a href="javascript:void 0;">空调 ></a>
            </dt>
            <dd class="cate-detail-con">
                <% for(var i = 0; i < 10; i++) { %>
                <a class="cate-detail-con-lk" href="javascript:void 0;">大空调</a>
                <% } %>
            </dd>
        </dl>
        <% } %>
    </div>
</div>
<div class="cate-part-col2">
    <div class="cate-brand">
        <% for(var i = 0; i < 8; i++) { %>
        <a href="javascript:void 0;" class="cate-brand-lk"><img width="83" height="35" src="/images/slider/360cn.jpg"></a>
        <% } %>
    </div>
    <div class="cate-promotion">
        <a href="javascript:void 0;" class="cate-promotion-lk"><img src="/images/slider/shebag.jpg"></a>
        <a href="javascript:void 0;" class="cate-promotion-lk"><img src="/images/slider/sport_shoes.jpg"></a>
    </div>
</div>
</div>