<div id="header">
    <div class="w">
        <!-- logo -->
        <div id="logo">
            <div class="logo-tit">
                <a class="logo-bg" href="javascript:void 0;"></a>
            </div>
        </div>
        <!-- 搜索 -->
        <div id="search">
            <div class="search-m w">
                <div class="search-logo">
                    <a href="javascript:void 0;"></a>
                </div>
                <ul id="shelper" style="display: none">
                    <% for (var i = 0; i < 10; i++) { %>
                    <li>
                        <div class="search-item">ssd<strong>固态硬盘</strong></div>
                        <div class="search-count">约7489个商品</div>
                    </li>
                    <% } %>
                </ul>
                <div class="form">
                    <input id="key" type="text" class="text" placeholder="Macbook">
                    <button type="button" class="button"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        <!-- 购物车 -->
        <div id="shopCar" class="dropdown">
            <div class="cw-icon">
                <i class="fa fa-shopping-cart shop-icon"></i>
                <div class="shop-count">0</div>
                <a href="javascript:void 0;">我的购物车</a>
            </div>
            <div class="dropdown-layer">
                <div class="prompt">
                    <div class="nogoods"><b></b>购物车中还没有商品，赶紧选购吧！</div>
                </div>
            </div>
        </div>
        <!-- hotword -->
        <div id="hotword">
            <a class="style-red" href="javascript:void 0;">阿克苏苹果</a>
            <a href="javascript:void 0;">阿克苏苹果</a>
            <a href="javascript:void 0;">阿克苏苹果</a>
            <a href="javascript:void 0;">阿克苏苹果</a>
            <a href="javascript:void 0;">阿克苏苹果</a>
        </div>
        <!-- navitems -->
        <div id="navitems">
            <ul>
                <li><a href="javascript:void 0">秒杀</a></li>
                <li><a href="javascript:void 0">优惠券</a></li>
                <li><a href="javascript:void 0">闪购</a></li>
                <li><a href="javascript:void 0">拍卖</a></li>
            </ul>
            <div class="spacer"></div>
            <ul>
                <li><a href="javascript:void 0">服装城</a></li>
                <li><a href="javascript:void 0">京东超市</a></li>
                <li><a href="javascript:void 0">生鲜</a></li>
                <li><a href="javascript:void 0">全球购</a></li>
            </ul>
            <div class="spacer"></div>
            <ul>
                <li><a href="javascript:void 0">京东金融</a></li>
            </ul>
        </div>
    </div>
</div>